# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# Entornos
venv/
.venv/
.env

# Datos (se regeneran con src/data/download.py y src/data/load.py)
data/raw/
data/processed/
data/interim/

# Experimentos
mlruns/
mlartifacts/

# SO / editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# MLflow (tracking local)
mlflow.db
